@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.message {
    color: white;
    font-size: 6vh;
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.container {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: #0B0C10;
    width: 100vw;
    height: 10vh;
    overflow: hidden;
    /* z-index: 1; */
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
}
.right-corner-text {
    color: white;
    font-size: 3vh;
    flex: 0.5;
    height: 100%;
    width: 100%;
    display: flex;
    padding-right: 2vw;
    align-items: center;
    justify-content: end;
    cursor: pointer;
}

.main{
    display: flex;
    max-width: 100vw;
}
.logo{
    width: 20%;
    height: 100%; 
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    max-width: 18vw;
    max-height: 18vw;
    margin-right: 30%;
}




.sideNav{
    width: 7vw;
    min-height: 90vh;
}
nav{
    position: absolute;
    position: fixed;
    margin-top: 10vh;
    /* top: 0; */
    /* bottom: 0; */
    min-height: 90vh;
    left: 0;
    background: white;
    width: 7vw;
    z-index: 1;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
}

a{
    position: relative;
    color: gray;
    font-size: 2vw;
    display: table;
    width: 300px;
    padding: 1vw;
}
.sideNav .fas{
    position: relative;
    width: 70px;
    height: 40px;
    top: 2vw;
    font-size: 2vw;
    text-align: center;
}
.nav-item{
    position: relative;
    top: 1vw;
    margin-left: 3vw;
}
.sideNav a:hover{
    background: #eee;
}
nav:hover{
    width: 280px;
    transition: all 0.5s ease;
}
.profile{
    position: absolute;
    bottom: 0;
}

.main{
    display: flex;
}

/* form area */

.form-area{
   padding: 2vw;
   width: 88vw;
   min-height: 84vh;
   border-radius: 10px;
   background-color: white;
   color: black;
   margin: 6vw 1vw 1vw 3vw;
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
   list-style: none;
   flex-direction: column;
   overflow-x: hidden;
}
body::-webkit-scrollbar {
    display: none; 
}

.form-area .fas{
    display: flex;
    width: auto;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 70px;
}
.form-area a{
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(78, 72, 72);
}
.form-area .new{
    border: none;
    height:  200px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
}

.new #text{
    color: black;
    font-size: 20px;
}




/* form */
.profile-form button {
    margin-left: 10px;
}

.profile-form button {
    background-color:black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.profile-form button:hover {
    background-color: gray;
}

.profileform{
    flex: 1;
    margin-top: 10px;
}
.profile-form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.profile-form label {
    font-weight: bold;
}

.profile-form input[type="text"],
.profile-form input[type="number"],
.profile-form input[type="email"],
.profile-form textarea,
.profile-form input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


form {
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
}
input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
input[type="submit"]:hover {
    background-color: #555;
}